/* ---------- Announcement Bar ---------- */
.announcement-bar {
  height: 30px;
  background-color: var(--color-primary);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.announcement-bar__text {
  font-size: 14px;
  font-weight: var(--fw-bold);
  line-height: 22px;
  text-align: center;
}

.announcement-bar__highlight {
  background-color: #6220c1;
  padding: 0 6px;
  border-radius: 4px;
}
